<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial=scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Acerca de</title>
	<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>
<body>
	<div class="card">
		<img src="../assets/img/logo.png" alt="" class="card-img-top" width="300" height="200">
		<div class="card-body">
			<div class="card-body">
				<p class="card-text">Desarrollado por Fabian Orellana Troncoso</p>
				<button class="btn btn-primary btn-block">Aceptar</button>
			</div>
		</div>
	</div>
</body>
</html>